<body class = 'gardenview'>
<div class = "container">
  <% if @response.has_key?("no-results") %>
      <div class = "col-md-12">
        <p class = "not-found">
          User <i><%= @name %></i> not found.
        </p>
      </div>
  <% else %>
      <h1 class = "center"><i><%= @name %></i>'s Garden</h1>
      <br />
      <br />
      <% @response.first.second.each do |repo| %>
        <div class = "col-md-4">
          <h3 class = "reponame">
            <%= repo['name'] %>
          </h3>
          <br />
          <p>
            <% if repo['days'].to_i == 1 %>
            Your current commit streak is 1 day
            <% elsif repo['days'].to_i > 0 %>
            Your current commit streak is <%= repo['days'] %> days
            <% elsif repo['days'].to_i == -1 %>
            1 day since last commit
            <% else %>
            <%= repo['days'].abs %> days since last commit
            <% end %>
          </p>
          <br />
          <p>
            <% if repo['image'] == "rip" %>
              <img src = "http://i.imgur.com/YMPD9uz.gif">
            <% elsif repo['image'].to_i == 0%>
              <img src = "http://i.imgur.com/BDvpPnr.gif">
            <% elsif repo['image'].to_i == 1 %>
              <img src = "http://i.imgur.com/LeluIYS.gif">
            <% elsif repo['image'].to_i == 2 %>
              <img src = "http://i.imgur.com/mx7twIi.gif">
            <% elsif repo['image'].to_i == 3 %>
              <img src = "http://i.imgur.com/oCw1Mkh.gif">
            <% elsif repo['image'].to_i == 4 %>
              <img src = "http://i.imgur.com/MXTClYy.gif">
            <% elsif repo['image'].to_i == 5 %>
              <img src = "http://i.imgur.com/DrlLxwA.gif">
            <% else %>
              "YO WTFLESLIE"
            <% end %>
          </p>
        </div>
      <% end %>
  <% end %>
</div>
</body>
